@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{

    font-family: 'Nunito', sans-serif;
}


/* container */

.container{
    padding: 0rem 1rem;
}

.container-center{
max-width: 600px;
margin: auto;
}
